<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}{% endblock %}
  <title>Intergalactic Weather</title>
  <link rel="shortcut icon" href="../../static/favicon.ico" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="../css/main.css"> -->
</head>

<body class="container" style="background-image: url({{wallpaper_data.url}}); background-size: cover;
    background-position: center center;
    background-attachment: fixed;">

  <header class="">
    <nav class="navbar bg-body-tertiary bg-opacity-10">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Intergalactic Weather</span>
      </div>
    </nav>
  </header>

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <!-- <div id="content">
        {% block content %}{% endblock %}
      </div> -->
      
    <main class="px-3">
      <h1>{{ wallpaper_data.state }}</h1>
      <p class="lead">{{ weather_data }}</p>
      <img src={{ icon_current_weather }} alt="">
      <p class="lead">
        <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
      </p>
    </main>
  </div>



  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 bg-body-tertiary bg-opacity-10">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <!-- <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg> -->
        <!-- <img src="../../static/logo.png" alt="Intergalactic Weather" width="35" height="40"> -->
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© 2023 comrade goose</span>
    </div>


    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <div class="text-body-secondary">{{wallpaper_data.copyright}}</div>
      </li>
    </ul>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
</body>

</html>