<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head %}{% endblock %}
  <title>Intergalactic Weather</title>
  <link rel="shortcut icon" href="/static/image/planet-moon.svg" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/main.css">
  <!-- <script src="/static/js/wallpaper.js"></script> -->
</head>
<!-- container -->

<body class="" style="background-image: url({{wallpaper_data.url}});">

  <header class="text-bg-secondary bg-opacity-25">

    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand text-white active font-monospace" aria-current="page" href="/page/main">
          <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="30"
            height="30">
            <circle fill="white" cx="21.5" cy="2.5" r="2.5" />
            <path fill="white"
              d="m10.5,3C4.71,3,0,7.71,0,13.5s4.71,10.5,10.5,10.5,10.5-4.71,10.5-10.5S16.29,3,10.5,3Zm1.5,16h-2v-3l-2-2v-2l-1-1h-3l-1.141-1.199c1.354-2.784,4.177-4.721,7.458-4.791-.194.299-.317.491-.317.491l1.5,2.5-1,1-2-1-1.5,1.5,1.5,1.5h2.5l4,2.5-3,5.5Z" />
          </svg>
          Intergalactic Weather
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white font-monospace" href="/page/tokur">Tokur</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white font-monospace" href="/page/about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </header>

  <main
    class="cover-container d-flex w-100 h-100 p-3 py-3 my-4 mx-auto flex-column justify-content-center align-items-center">
    <div class="container" id="content">
      {% block content %}{% endblock %}
    </div>
  </main>

  <!-- <div class="d-flex justify-content-end">
    <div class="m-4 g-4 btn-group btn-group-lg" role="group" aria-label="Large button group">
      <button id="btn-previous" type="button" class="btn btn-outline-secondary bg-secondary bg-opacity-25"><</button>
      <button id="btn-index" disabled="disabled" type="button" class="btn btn-outline-secondary bg-secondary bg-opacity-25 text-white">{{wallpaper_id}}</button>
      <button id="btn-next" type="button" class="btn btn-outline-secondary bg-secondary bg-opacity-25">></button>
    </div>
  </div> -->

  <footer class="text-bg-secondary bg-opacity-25">
    <div class="">
      <div class="row row row-cols-1 row-cols-sm-2 m-0 p-3">
        <div class="col p-0 d-flex align-items-center">
          <p class="text-white mb-0 font-monospace">© 2023-{{year}}, comrade goose</p>
        </div>
        <div class="col p-0 d-flex align-items-center justify-content-end">
          <a id="copyright" class="text-white nav-link font-monospace"
            href={{wallpaper_data.copyrightlink}}>{{wallpaper_data.copyright}}</a>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
</body>

</html>