{% extends "base.html" %}

{% block content %}
<div class="g-4">

    <div>
        <a href="https://www.flaticon.com/"><h1>Flaticon</h1></a>
        <ul>
            <li>
                <a href="https://www.flaticon.com/ru/free-icon/sun-rays_3385807" title="sunrise">
                    <img src="/static/image/sunrise.png" alt="sunrise" height="25" width="25">Солнечные лучи от Creative Stall
                    Premium - Flaticon
                </a>
            </li>
            <li>
                <a href="https://www.flaticon.com/ru/free-icon/sun-rays_3386346" title="sunset">
                    <img src="/static/image/sunset.png" alt="sunset" height="25" width="25">
                    Солнечные лучи от Creative Stall Premium - Flaticon
                </a>
            </li>
            <li>
                <a href="https://www.flaticon.com/ru/free-icon/cloud_7841840" title="cloud">
                    <img src="/static/image/logo.png" alt="cloud" height="25" width="25">Облако от Rian Maulana - Flaticon
                </a>
            </li>
        </ul>
    </div>
    <div class="scrollable-canvas-container" style="overflow-x: scroll; max-width: 490px;">
        <canvas id="temperatureChart" width="2400" height="320"></canvas>
    </div>
</div>

<script src="/static/js/weather.js"></script>

{% endblock %}